.container {
    display: flex;
    padding: 8px 24px;
    justify-content: space-between;
    align-items: center;
    background-color: blueviolet;
}

.titulo {
    color: #fff;
}

.linkVoltar {
    color: #fff;
}